  <footer class="app-footer">
    <div>
      <p>Made with 🎵 using Spotify Web API</p>
      <p class="footer-links">
        <a href="https://developer.spotify.com" target="_blank">Spotify Developer</a> •
        <a href="https://github.com" target="_blank">GitHub</a>
      </p>
    </div>
  </footer>
</body>
</html>

